In [ ]:
#실습 
# distance_from_sun = 149.6, 1433.5, 227.9, 108.2, 778.6
# planets = 'Earth','Saturn', 'Mars','Venus', 'Jupiter'
# Pandas Series 만들기

In [3]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

In [5]:
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']

In [6]:
import pandas as pd

In [9]:
# 1차원 벡터, pandas Series 만들기
dist_planet = pd.Series(data = distance_from_sun, index = planets)

In [11]:
# 거리를 빛의 상수 c( 18 ) 로 나눠서, 가는 시간이 얼마나 걸리는 지 계산하여 저장하세요
# 계산은 바로 pandas Series 변수에 대입하면 됨
time_light = dist_planet / 18

In [16]:
#  Boolean indexing을 이용해서 가는 시간이 40분보다 작은것들만 셀렉트 하세요.
 # close_planets 에 넣은세요
# 데이터를 가져올 때는 []를 이용
close_planets = time_light[ time_light < 40 ]

In [17]:
close_planets

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [20]:
#Pandas DataFrame 만들기
# 먼저 딕셔너리 이용해서 판다스 Seriss로 만든다
items = {
    'Bob' : 
        pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch'] ),
    'Alice' : 
        pd.Series(data = [40, 110, 500, 45], index= ['book', 'glasses', 'bike', 'pant'] )
}

In [22]:
# DataFrame() 메소드를 이용해서 
pd.DataFrame(items)

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pant       NaN   45.0
pants     25.0    NaN
watch     55.0    NaN

In [ ]:
# DataFrame()을 이용하면 2차원 배열로 만들어 줌

In [ ]:
# fruit_sales 를 데이터 프레임으로 만드시오
#             Apples  Bananas
# 2017 Sales    35        21
# 2018 Sales    41        34

In [25]:
pd.Series(data=[35, 41], index=['2017 Sales', '2018 Sales'])
pd.Series(data= [21, 34], index = ['2017 Sales', '2018 Sales'] )

2017 Sales    41
2018 Sales    32
dtype: int64

In [ ]:
#형태의 딕셔너리 형태로 만들어 준다
# 1차원벡터 부분를 pandas.Series()로 만들어 주면 됨
# {
#     'Apple': 1차원 벡터
#     ,
#     'Bananas': 1차원 벡터
# }

In [28]:
items = {
    'Apple': pd.Series(data=[35, 41], index=['2017 Sales', '2018 Sales']),
    'Bananas': pd.Series(data= [21, 34], index = ['2017 Sales', '2018 Sales'] )
}
pd.DataFrame(items)

            Apple  Bananas
2017 Sales     35       21
2018 Sales     41       34

In [31]:
# DataFrame()의 2번째 방식
# data 와 index를 넘겨준다
#여기서 data는 딕셔너리 형태이고
# index는 리스트 형태로 만든다

# 여기서 딕셔너리 형태에서 하나의 key는 row 처럼 보이지만 (1차원 벡터) 
# DataFrame으로 만들면 하나의 컬럼이 된다
my_data = { 'bob': ['I liked it', 'It was awful.'],
 'sue': ['Pretty good.', 'So so.']
}
my_data

{'bob': ['I liked it', 'It was awful.'], 'sue': ['Pretty good.', 'So so.']}

In [33]:
my_index = ['Product A', 'Product B']
my_index

['Product A', 'Product B']

In [35]:
review = pd.DataFrame(data= my_data, index= my_index)

In [36]:
review

                     bob           sue
Product A     I liked it  Pretty good.
Product B  It was awful.        So so.

In [37]:
 # DataFrame 타입이라고 나옴
 type(review)

pandas.core.frame.DataFrame

In [ ]:
#csv 파일로 저장하기
# comma 

#DataFrame변수.to_csv('파일명.csv')
# 예: 
#review.to_csv('review.csv')

#csv 파일 불러오기
#변수 = pd.read_csv('파일명.csv')
# 예:
#my_review = pd.read_csv('review.csv')

In [38]:
# DataFrame 속성
review.values

array([['I liked it', 'Pretty good.'],
       ['It was awful.', 'So so.']], dtype=object)

In [39]:
review.index

Index(['Product A', 'Product B'], dtype='object')

In [40]:
review.columns

Index(['bob', 'sue'], dtype='object')

In [44]:
#DataFrame을 만들기 위해서 item항목을 딕셔너리 형태로 해서 만든다
# 리스트안에 여러 항목을 담는다.
# 리스트의 key의 순서는 상관없음

# 딕셔너리 형태로 pd.Series()를 만들었을 때는 하나의 key가 dataFrame을 만들었을 때 하나의 컬럼을 이루었지만
# 딕셔너리가 리스트 안에 여러개로 들어가 있으면
# 딕셔너리 한개가 하나의 row를 형성 (DaraFrame 에서)
items = [
    {
        'bikes': 20, 'pants': 30, 'watches': 35
    },
    {
        'wathces': 10, 'glasses': 50, 'bikes': 15, 'pants': 5
    }
]

In [45]:
store_items = pd.DataFrame(data = items, index= ['store 1', 'store 2'] 
)

In [46]:
store_items

         bikes  pants  watches  wathces  glasses
store 1     20     30     35.0      NaN      NaN
store 2     15      5      NaN     10.0     50.0

In [47]:
### 중요 DataFrame에서 데이터를 가져오는 방법 3가지
### 첫 번째는 컬럼명으로 가져오기
#  []대괄호 열고 데이터 엑세스 
# 컬럼명으로 즉 1차원 벡터 으로 가져옴
store_items['bikes']

store 1    20
store 2    15
Name: bikes, dtype: int64

In [48]:
# 컬럼명 인덱스
store_items[ ['pants', 'glasses']]

         pants  glasses
store 1     30      NaN
store 2      5     50.0

In [ ]:
# 두번째 방법 
# loc[] 이용 
# 이제부터는 행렬을 이용함 row, column 
# 사용자가 보기 편하게 지정한 index를 이용하고
# loc[ row , col ] 콤마를 찍어서 행렬로 가져온다

In [51]:
# row만 가져오기
store_items.loc[ 'store 1',  ]

bikes      20.0
pants      30.0
watches    35.0
wathces     NaN
glasses     NaN
Name: store 1, dtype: float64

In [52]:
# row, col 가져오기
store_items.loc['store 1', 'pants']

30

In [57]:
# row, col 가져오기 (여러개 일때는 리스트 형태로 만들어 준다)
store_items
store_items.loc['store 1', ['pants', 'glasses'] ]

pants      30.0
glasses     NaN
Name: store 1, dtype: float64

In [66]:
# 슬라이싱으로 가져올 때는  리스트형태는 아니고 각각의 row, col 자리에서 슬라이싱 해준다
store_items.loc['store 2', 'pants': 'glasses']

pants       5.0
watches     NaN
wathces    10.0
glasses    50.0
Name: store 2, dtype: float64

In [ ]:
# 세 번째 방법은 iloc[] 를 이용
# 원래 인덱스인 컴퓨터용 인덱스를 이용
# DataFrame에서 보여주는 인덱스가 아님에 유의
# [] 데이터액세스 대괄호를 열고 row, col로 해야하며
# row 빼고 컬럼 위주로 뽑고 싶을 때는 [: , col] 로 해야함

In [58]:
store_items.iloc[ 0, 0]

20

In [59]:
# 여러개는 역시 리스트
store_items.iloc[ 0, [1, 2] ]

pants      30.0
watches    35.0
Name: store 1, dtype: float64

In [64]:
# row 없이 컬럼만 
store_items.iloc[ :, [1, 2] ]

         pants  watches
store 1     30     35.0
store 2      5      NaN

In [65]:
# 슬라이싱으로 가져오고 싶을 때는 리스트는 생략
# row면 row자리에 
# column이면 column 자리에서 start:stop(+1)으로 지정해 준다

#단, 여러개의 리스트를 개별로 가져올 때는 []리스트로 묶어 준다 [1, 2, 3]
store_items.iloc[ 1, 1:3]

pants      5.0
watches    NaN
Name: store 2, dtype: float64

In [71]:
# 데이터 insert() 메소드
# insert() args: 인덱스(컴퓨터용), '컬럼명', [value1, value2, ...]
store_items
store_items.insert(4, 'shoes', [8, 5])

In [ ]:
# 삭제 drop() 
# 축 형태로 삭제할 수 있다
# row 삭제는 axis = 0
# col 삭제는 axis = 1
# drop() 의 args: '컴럼명' 또는 'row인덱스명', axis=0 / 1
# 메모리 변경을 안됨, 따로 변수에 저장해줘야 반영됨

In [72]:
store_items

         bikes  pants  watches  wathces  shoes  glasses
store 1     20     30     35.0      NaN      8      NaN
store 2     15      5      NaN     10.0      5     50.0

In [73]:
store_items.drop('store 1', axis = 0)

         bikes  pants  watches  wathces  shoes  glasses
store 2     15      5      NaN     10.0      5     50.0

In [75]:
store_items.drop('pants', axis= 1)

         bikes  watches  wathces  shoes  glasses
store 1     20     35.0      NaN      8      NaN
store 2     15      NaN     10.0      5     50.0