In [ ]:
#실습 
# distance_from_sun = 149.6, 1433.5, 227.9, 108.2, 778.6
# planets = 'Earth','Saturn', 'Mars','Venus', 'Jupiter'
# Pandas Series 만들기

In [3]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

In [5]:
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']

In [6]:
import pandas as pd

In [9]:
# 1차원 벡터, pandas Series 만들기
dist_planet = pd.Series(data = distance_from_sun, index = planets)

In [11]:
# 거리를 빛의 상수 c( 18 ) 로 나눠서, 가는 시간이 얼마나 걸리는 지 계산하여 저장하세요
# 계산은 바로 pandas Series 변수에 대입하면 됨
time_light = dist_planet / 18

In [16]:
#  Boolean indexing을 이용해서 가는 시간이 40분보다 작은것들만 셀렉트 하세요.
 # close_planets 에 넣은세요
# 데이터를 가져올 때는 []를 이용
close_planets = time_light[ time_light < 40 ]

In [17]:
close_planets

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [20]:
#Pandas DataFrame 만들기
# 먼저 딕셔너리 이용해서 판다스 Seriss로 만든다
items = {
    'Bob' : 
        pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch'] ),
    'Alice' : 
        pd.Series(data = [40, 110, 500, 45], index= ['book', 'glasses', 'bike', 'pant'] )
}

In [22]:
# DataFrame() 메소드를 이용해서 
pd.DataFrame(items)

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pant       NaN   45.0
pants     25.0    NaN
watch     55.0    NaN

In [ ]:
# DataFrame()을 이용하면 2차원 배열로 만들어 줌

In [ ]:
# fruit_sales 를 데이터 프레임으로 만드시오
#             Apples  Bananas
# 2017 Sales    35        21
# 2018 Sales    41        34

In [25]:
pd.Series(data=[35, 41], index=['2017 Sales', '2018 Sales'])
pd.Series(data= [21, 34], index = ['2017 Sales', '2018 Sales'] )

2017 Sales    41
2018 Sales    32
dtype: int64

In [ ]:
#형태의 딕셔너리 형태로 만들어 준다
# 1차원벡터 부분를 pandas.Series()로 만들어 주면 됨
# {
#     'Apple': 1차원 벡터
#     ,
#     'Bananas': 1차원 벡터
# }

In [28]:
items = {
    'Apple': pd.Series(data=[35, 41], index=['2017 Sales', '2018 Sales']),
    'Bananas': pd.Series(data= [21, 34], index = ['2017 Sales', '2018 Sales'] )
}
pd.DataFrame(items)

            Apple  Bananas
2017 Sales     35       21
2018 Sales     41       34

In [31]:
# DataFrame()의 2번째 방식
# data 와 index를 넘겨준다
#여기서 data는 딕셔너리 형태이고
# index는 리스트 형태로 만든다

# 여기서 딕셔너리 형태에서 하나의 key는 DataFrame으로 만들면 컬럼으로 표시가 된다
my_data = { 'bob': ['I liked it', 'It was awful.'],
 'sue': ['Pretty good.', 'So so.']
}
my_data

{'bob': ['I liked it', 'It was awful.'], 'sue': ['Pretty good.', 'So so.']}

In [33]:
my_index = ['Product A', 'Product B']
my_index

['Product A', 'Product B']

In [35]:
review = pd.DataFrame(data= my_data, index= my_index)

In [36]:
review

                     bob           sue
Product A     I liked it  Pretty good.
Product B  It was awful.        So so.