In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [21]:
# X
X = df.iloc[ :, 0:3+1]

In [8]:
# y
y = df['Profit']

OneHotEncoder 사용

In [11]:
# State컬럼을 숫자로 바꾸기 
# Label Encoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [23]:
# 객체 생성
ct = ColumnTransformer( [ ('encoder', OneHotEncoder(), [3])], remainder='passthrough')

ct.fit_transform(X) (ColumnTransformer이용)

In [25]:
# OneHotEncoder(), [3] 여기서 State를 숫자로 바꿀 것이기 때문에 인덱스로 접근
# remainder='passthrough'는 나머지 컬럼은 그대로 둠
# OneHotEncoding을 하면 컬럼이 맨 앞으로 0번째로 간다
# 여기서는 3개의 컬럼이 더 생김, 'State'컬럼의 유니크를 보면 알 수 있음
# 'New York', 'California', 'Florida' 각각 3개의 컬럼이 0, 0, 1 이런식으로 들어감
X = ct.fit_transform(X)

train_test_split

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10049)

In [29]:
# 80%
X_train.shape

(40, 6)

In [30]:
# 20%가 만들어 진 것을 알 수 있음
X_test.shape

(10, 6)

modeling

LinearRegression (학습)

In [31]:
from sklearn.linear_model import LinearRegression

In [33]:
regressor = LinearRegression()

In [34]:
#학습
regressor.fit(X_train, y_train)

LinearRegression()

In [36]:
y_pred = regressor.predict(X_test)

In [41]:
y_pred

array([ 84272.39556006,  70303.99245317, 173403.09716469,  56232.7370636 ,
       157428.67428229, 164543.14936511, 109979.26918567,  98224.48381459,
       114287.01392552, 190069.50597686])

In [42]:
# 시리즈 데이터 이므로 
y_test

34     96712.80
42     71498.49
3     182901.99
48     35673.41
6     156122.51
5     156991.12
23    108733.99
31     97483.56
16    126992.93
0     192261.83
Name: Profit, dtype: float64

error 구하기 오차값

In [43]:
y_test - y_pred

34    12440.404440
42     1194.497547
3      9498.892835
48   -20559.327064
6     -1306.164282
5     -7552.029365
23    -1245.279186
31     -740.923815
16    12705.916074
0      2192.324023
Name: Profit, dtype: float64

In [44]:
((y_test - y_pred) **2).sum() / len(y_test)

89619087.03505757

MSE 오차구하기

In [45]:
# 위의 코드를 mean()함수로 평균내서 쉽게 구하기
((y_test - y_pred) **2).mean()

89619087.03505757

In [46]:
pd.DataFrame( {
    '실제값': y_test,
    '예측값': y_pred,
    '오차': y_test - y_pred
})

          실제값            예측값            오차
34   96712.80   84272.395560  12440.404440
42   71498.49   70303.992453   1194.497547
3   182901.99  173403.097165   9498.892835
48   35673.41   56232.737064 -20559.327064
6   156122.51  157428.674282  -1306.164282
5   156991.12  164543.149365  -7552.029365
23  108733.99  109979.269186  -1245.279186
31   97483.56   98224.483815   -740.923815
16  126992.93  114287.013926  12705.916074
0   192261.83  190069.505977   2192.324023

In [ ]:
#실습하기
#캘리포니아에 있는 회사이고, 연구개발비는 210,000달러, 운영비는 170,000달러
# 마케팅비는 500,000 달러를 쓰는 회사가 있는데,
# 이 회사는 얼마의 수익을 벌까?????????

In [47]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [52]:
# 먼저 California이면 OneHotEncoder를 했다고 가정하면
# 1, 0, 0이 되고 이 컬럼들은 맨 앞으로 오게된다 (알파벳순)
# 나머지 컬럼 R&D Spend, Administration, Marketing Spend 를 
# np.array() 를 이용해서 많으므로 [] 처리해서 만듬
newX = np.array( [1, 0, 0, 210000, 170000, 500000] )

In [53]:
newX.shape

(6,)

In [58]:
# 모든 데이터는 행으로 되어 있고 2차원으로 만들어 준다
# 즉, State, 연구비, 운영비, 마케팅비 이런식으로.. 
# multiple regression을 기억하자!
# -1은 끝까지
newX = newX.reshape(1, -1)

In [59]:
#예측 인공지능한테 물어봐
regressor.predict(newX)

array([221764.1792243])