winemag-data.csv 파일을 reviews 로 읽는다.

In [5]:
import pandas as pd

In [6]:
reviews =pd.read_csv('../big_csv_files/winemag-data.csv')

리뷰 데이터프레임에서 points 컬럼의  median 값은?

In [41]:
reviews['points'].median()

88.0

In [7]:
reviews.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [8]:
# 50%	64985.000000	88.000000	25.000000

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

In [9]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [10]:
reviews['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [42]:
# 컬럼명으로도 접근할 수 있음, 마치 속성처럼 사용 (띄어쓰기가 있으면 안된다고 함)
reviews.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [11]:
countries = reviews['country'].unique()

In [44]:
print(countries)

['Italy' 'Portugal' 'US' 'Spain' 'France' 'Germany' 'Argentina' 'Chile'
 'Australia' 'Austria' 'South Africa' 'New Zealand' 'Israel' 'Hungary'
 'Greece' 'Romania' 'Mexico' 'Canada' nan 'Turkey' 'Czech Republic'
 'Slovenia' 'Luxembourg' 'Croatia' 'Georgia' 'Uruguay' 'England' 'Lebanon'
 'Serbia' 'Brazil' 'Moldova' 'Morocco' 'Peru' 'India' 'Bulgaria' 'Cyprus'
 'Armenia' 'Switzerland' 'Bosnia and Herzegovina' 'Ukraine' 'Slovakia'
 'Macedonia' 'China' 'Egypt']

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

In [13]:
# value_counts() 정렬해서 보여줌
reviews['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Macedonia                    12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
China                         1
Egypt                         1
Slovakia                      1
Name: country, dtype: int64

In [46]:
# 두 번째 방법, groupby() 사용
# 특정 컬럼의 같은 내용(같은 문자열)끼리 묶어 준다 
# 대신 value_counts()와는 다르게 정렬은 못함. 따로 해야함 -- sort_values()를 사용 내림차순은 ascending=False
reviews.groupby('country')['country'].count().sort_values(ascending=False)

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Serbia                       12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Egypt                         1
Slovakia                      1
China                         1
Name: country, dtype: int64

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

In [47]:
centered_price = reviews['price'] - reviews['price'].mean()

In [48]:
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

In [ ]:
#답은 나누기를 해주면 됨
# 포인트 / 가격
# 높을 수록 가성비가 좋은 것이됨

In [50]:
# 개별의 데이터는 사용할 수가 없으므로 DataFrame에 컬럼으로 추가해서 넣어줘야한다
# 
reviews.points / reviews.price

0              NaN
1         5.800000
2         6.214286
3         6.692308
4         1.338462
            ...
129966    3.214286
129967    1.200000
129968    3.000000
129969    2.812500
129970    4.285714
Length: 129971, dtype: float64

In [51]:
reviews['가성비'] = reviews.points / reviews.price

In [52]:
reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,가성비
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.8

In [56]:
bargain_wine = reviews.sort_values(by='가성비', ascending=False)

In [61]:
bargain_wine.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,가성비
64590,64590,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit,21.50
126096,126096,Romania,Notes of sun-dried hay and green flower highli...,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas,21.50
20484,20484,US,"Fruity, soft and rather sweet, this wine smell...",NaN,85,4.0,California,Clarksburg,Central Valley,Jim Gordon,@gordone_cellars,Dancing Coyote 2015 White (Clarksburg),White Blend,Dancing Coyote,21.25
1987,1987,Spain,Berry and cherry aromas are surprisingly sturd...,Flirty Bird,85,4.0,Central Spain,Vino de la Tierra de Castilla,NaN,Michael Schachner,@wineschach,Felix Solis 2013 Flirty Bird Syrah (Vino de la...,Syrah,Felix Solis,21.25
110255,110255,US,"A good everyday Merlot, dry and rich in tannin...",NaN,84,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit,21.00

In [63]:
#title 만 가져오기 
# iloc[]로 접근

bargain_wine.iloc[0:4+1, 11]

64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
20484                Dancing Coyote 2015 White (Clarksburg)
1987      Felix Solis 2013 Flirty Bird Syrah (Vino de la...
110255                        Bandit NV Merlot (California)
Name: title, dtype: object

In [65]:
# 또는 title 컬럼으로 가져오기
bargain_wine.title

64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
20484                Dancing Coyote 2015 White (Clarksburg)
1987      Felix Solis 2013 Flirty Bird Syrah (Vino de la...
110255                        Bandit NV Merlot (California)
                                ...
129844    Caparzo 2006 Doga delle Clavule  (Morellino di...
129860    Quinta da Pacheca 2013 Pacheca Superior Red (D...
129863                      Seacampo 2011 Reserva Red (Dão)
129893     Le Mandolare 2015 Corte Menini  (Soave Classico)
129964    Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...
Name: title, Length: 129971, dtype: object

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

In [66]:
reviews['description'][0]

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

In [67]:
# 데이터 컬럼안의 문자열을 다룰려면 str 속성을 이용한다
# 그러면 문자열 관련 함수들을 사용할 수 있다
# split, find, rfind, 등등..
# 여기에서는 contains() 함수를 사용한다

reviews.description.str

In [69]:
n_tropical = reviews['description'].str.contains('tropical').sum()

In [71]:
n_fruity = reviews['description'].str.contains('fruity').sum()

In [ ]:
descriptor_counts =  reviews['description'].str.contains('tropical').sum()

In [74]:
# 판다스 Series로 만들기
descriptor_counts = pd.Series(data = [n_tropical, n_fruity], index = ['tropical', 'fruity'] )

In [75]:
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

In [77]:
reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,가성비
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.8

In [89]:
def put_star(point) :
    if point >= 95:
        return 3
    elif point >= 85:
        return 2
    else:
        return 1

put_star(95)

3

In [ ]:
# 참고!!!!
# 함수 단위로 테스트 하는 것을 unit test 라고 함
# Unit Test (단위 테스트)  ==> 이력서에 적기
# 예: 저는 unit test를 했습니다.

In [90]:
put_star(100)

3

In [92]:
put_star(87)

2

In [93]:
# ['points'] 컬럼명으로 접근해도 같음
reviews.points.apply(put_star)

0         2
1         2
2         2
3         2
4         2
         ..
129966    2
129967    2
129968    2
129969    2
129970    2
Name: points, Length: 129971, dtype: int64

In [95]:
reviews['ratings'] = reviews.points.apply(put_star)

In [100]:
reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,가성비,ratings
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,2
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286,2
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308,2
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),3.214286,2
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,1.200000,2
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,3.000000,2
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,2.812500,2
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,4.285714,2

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

In [103]:
reviews.region_2.fillna('Unknown', inplace=True)

In [105]:
reviews.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,가성비,ratings
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Unknown,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.8,2

포인트로 그룹바이하고, 몇개의 데이터가 있는지 카운팅

In [109]:
reviews.groupby('points').points.count().sort_values()

points
100       19
99        33
98        77
97       229
80       397
96       523
81       692
95      1535
82      1836
83      3025
94      3758
84      6480
93      6489
85      9530
92      9613
91     11359
89     12226
86     12600
90     15410
87     16933
88     17207
Name: points, dtype: int64

In [110]:
# 좀 더 간단한 방법
reviews.points.value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

포인트별 가격의 최소값을 구해본다.

In [111]:
# 포인트별로 그룹을 묶어 준다 groupby
# 그후 price컬럼의 min() 최소값
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

각 국가별로, 가격의 최소값, 최대값 은?

In [123]:
# 데이터프레임에서 대각선은 의미없음: 자기자신이므로
reviews.corr()

           points     price       가성비   ratings
points   1.000000  0.416167 -0.547842  0.637724
price    0.416167  1.000000 -0.521180  0.258873
가성비     -0.547842 -0.521180  1.000000 -0.310189
ratings  0.637724  0.258873 -0.310189  1.000000

In [125]:
import numpy as np
#각 국가별로, 가격의 최소값, 최대값 구하기

#agg() 
# aggregate 집계하는 함수
# 2개의 함수를 적용할 수 있게 해줌
# 먼저 그룹바이를 해줌
# 그다음 price 컬럼을  numpy의 min, max를 사용
reviews.groupby('country').price.agg( [np.min, np.max] )

                        amin    amax
country
Argentina                4.0   230.0
Armenia                 14.0    15.0
Australia                5.0   850.0
Austria                  7.0  1100.0
Bosnia and Herzegovina  12.0    13.0
Brazil                  10.0    60.0
Bulgaria                 8.0   100.0
Canada                  12.0   120.0
Chile                    5.0   400.0
China                   18.0    18.0
Croatia                 12.0    65.0
Cyprus                  11.0    21.0
Czech Republic          15.0    45.0
Egypt                    NaN     NaN
England                 25.0    95.0
France                   5.0  3300.0
Georgia                  9.0    40.0
Germany                  5.0   775.0
Greece                   8.0    79.0
Hungary                 10.0   764.0
India                   10.0    20.0
Israel                   8.0   150.0
Italy                    5.0   900.0
Lebanon                 13.0    75.0
Luxembourg              16.0    30.0
Macedonia               15.0    20.0
Mexico                   8.0   108.0
Moldova                  8.0    42.0
Morocco                 14.0    40.0
New Zealand              7.0   130.0
Peru                    10.0    68.0
Portugal                 5.0  1000.0
Romania                  4.0   320.0
Serbia                  15.0    42.0
Slovakia                16.0    16.0
Slovenia                 7.0    90.0
South Africa             5.0   330.0
Spain                    4.0   770.0
Switzerland             21.0   160.0
Turkey                  14.0   120.0
US                       4.0  2013.0
Ukraine                  6.0    13.0
Uruguay                 10.0   130.0

In [126]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,가성비,ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,Unknown,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,Unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.8,2

In [129]:
# 2개의 이상의 오름차순을 따로따로 줄 때는 ascending= []리스트로 만들어서 각각 매칭해주면 된다
# sort_values( by = )로 컬럼별로 정렬
#reviews.sort_values(by= ['country', 'price'] ,ascending=False
# 정렬방식이 내림차순인데, 정렬도 각각 해줄 수 있음
reviews.sort_values(by= ['country', 'price'] ,ascending= [True, False])

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,가성비,ratings
61144,Argentina,"This immense Cabernet contains 3% Malbec, and ...",Volturno Marchiori Vineyard,91,230.0,Mendoza Province,Perdriel,Unknown,Michael Schachner,@wineschach,Viña Cobos 2012 Volturno Marchiori Vineyard Ca...,Cabernet Sauvignon,Viña Cobos,0.395652,2
87328,Argentina,Gritty berry aromas are solid but a bit underw...,Volturno,92,230.0,Mendoza Province,Perdriel,Unknown,Michael Schachner,@wineschach,Viña Cobos 2013 Volturno Cabernet Sauvignon (P...,Cabernet Sauvignon,Viña Cobos,0.400000,2
122027,Argentina,"Price aside, this is absolutely wonderful Malb...",Cobos Marchiori Vineyard,95,225.0,Mendoza Province,Mendoza,Unknown,Michael Schachner,@wineschach,Viña Cobos 2010 Cobos Marchiori Vineyard Malbe...,Malbec,Viña Cobos,0.422222,3
284,Argentina,This huge Malbec defines jammy and concentrate...,Marchiori Vineyard Block C2,92,215.0,Mendoza Province,Perdriel,Unknown,Michael Schachner,@wineschach,Viña Cobos 2011 Marchiori Vineyard Block C2 Ma...,Malbec,Viña Cobos,0.427907,2
105092,Argentina,"Jammy and reduced on the nose, this smells gri...",NaN,89,210.0,Mendoza Province,Perdriel,Unknown,Michael Schachner,@wineschach,Viña Cobos 2013 Malbec (Perdriel),Malbec,Viña Cobos,0.423810,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44851,NaN,This wine has aromas of honeysuckle and lemon ...,Royal,84,6.0,NaN,NaN,Unknown,Jeff Jenssen,@worldwineguys,Stone Castle 2015 Royal Riesling,Riesling,Stone Castle,14.000000,1
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,Unknown,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier,NaN,1
11348,NaN,"Light and fruity, this is a wine that has some...",Partager,82,NaN,NaN,NaN,Unknown,Roger Voss,@vossroger,Barton & Guestier NV Partager White,White Blend,Barton & Guestier,NaN,1
16749,NaN,Winemaker: Bartho Eksteen. This wooded Sauvy s...,Cape Winemakers Guild Vloekskoot Wooded,91,NaN,NaN,NaN,Unknown,Lauren Buzzeo,@laurbuzz,Bartho Eksteen 2016 Cape Winemakers Guild Vloe...,Sauvignon Blanc,Bartho Eksteen,NaN,2
57612,NaN,Winemaker: Gordon Newton Johnson. This is such...,Cape Winemakers Guild Windansea,92,NaN,NaN,NaN,Unknown,Lauren Buzzeo,@laurbuzz,Newton Johnson 2016 Cape Winemakers Guild Wind...,Pinot Noir,Newton Johnson,NaN,2