# <font color='red'> *실습* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. 밸류들을 전부 곱한 값을 출력하는 코드를 만드세요. </font>

In [1]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

In [3]:
sum(my_dict.values())

790

# <font color='blue'> 2. 각 학생별로, 중간과 기말의 평균점수를 구하세요.

In [5]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

In [18]:
type(student_details)
student_details[0]

{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85}

In [39]:
student1 = (student_details[0]['midterm'] + student_details[0]['final']) / 2
student2 = (student_details[1]['midterm'] + student_details[1]['final']) / 2
student3 = (student_details[2]['midterm'] + student_details[2]['final']) / 2

In [42]:
print("1번 학생 평균: {}  2번 학생 평균: {}  3번 학생 평균: {}" .format(student1, student2, student3))

1번 학생 평균: 72.5  2번 학생 평균: 79.0  3번 학생 평균: 87.5

# <font color='blue'> 3. 위에서 구한 평균점수를,"AVERAGE" 라는 키를 새로 만들어서, 각 학생의 딕셔너리에 추가하세요.

In [47]:
student_details[0]['average'] = student1
student_details[1]['average'] = student2
student_details[2]['average'] = student3

In [48]:
 student_details

[{'student_id': 1,
  'subject': 'math',
  'midterm': 60,
  'final': 85,
  'average': 72.5},
 {'student_id': 2,
  'subject': 'math',
  'midterm': 80,
  'final': 78,
  'average': 79.0},
 {'student_id': 3,
  'subject': 'math',
  'midterm': 90,
  'final': 85,
  'average': 87.5}]

# <font color='blue'> 4. 각각의 숫자를,  제곱한 값으로 바꾸세요.

In [91]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

In [92]:

#dictionary['C1'] = dictionary['C1'][0] * dictionary['C1'][1] * dictionary['C1'][2]

dictionary['C1'][0] = dictionary['C1'][0] ** 2
dictionary['C1'][1] = dictionary['C1'][1] ** 2
dictionary['C1'][2] = dictionary['C1'][2] ** 2

dictionary['C2'][0] = dictionary['C2'][0] ** 2
dictionary['C2'][1] = dictionary['C2'][1] ** 2
dictionary['C2'][2] = dictionary['C2'][2] ** 2

In [93]:
dictionary

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  5. (1)모든 키를 리스트로 출력하세요. (2) 모든 밸류를 리스트로 출력하세요. (3) 모든 밸류의 값을 다 더하세요.

In [65]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [72]:
key_list = list(my_salary.keys())

In [73]:
key_list

['alex', 'sally', 'dina']

In [74]:
value_list = list(my_salary.values())
value_list

[25, 28, 30]

In [75]:
sum(value_list)

83

# <font color='blue'>  6. 딕셔너리의 길이를 구하고, 나이에 대한 오름차순으로 정렬하세요.

In [79]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

In [80]:
len(my_dict)

5

In [81]:
sorted(my_dict.values())

[10, 22, 23, 44, 50]

In [82]:
my_dict

{'sally': 23, 'dina': 22, 'holy': 50, 'Joe': 10, 'Peter': 44}

# <font color='blue'> 7. 다음 코드를 실행해서 결과를 확인하세요. </font>

In [94]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True