# PYTHON PROGRAMMING FUNDAMENTALS
# TUPLES AND SETS

# TUPLES 

- Immutable Python objects. 
- 튜플은 시퀀스, 즉 순서가 있습니다. 
- 튜플은 괄호 ( ) 를 사용합니다.

In [ ]:
#리스트와 같지만, 대신 !!!!!추가, 수정, 삭제가 안됨!!!!

In [ ]:
#함수에서 리턴할 때 튜플로 리턴값을 받아서 보안상 사용한다고 함(중간에 변경할 수 없으므로)

In [1]:
my_tuple = ("mouse", [8,4,6], (1,2,3)) #리스트 처럼 여러개를 저장

In [2]:
my_tuple[0]

'mouse'

In [3]:
my_tuple[2]

(1, 2, 3)

In [5]:
my_tuple[0] = 'cat'

TypeError: 'tuple' object does not support item assignment

In [6]:
my_string = "abcdedf"

In [7]:
my_string[0:4]

'abcd'

In [ ]:
#위의 경우 처럼 문자열 상수와 비슷하다 , 튜플도 변경이 안됨

In [8]:
my_string[0] = 'k'  #튜플처럼 변경이 안됨

TypeError: 'str' object does not support item assignment

# SETS
- 셋에 들어있는 데이터는 순서가 없습니다.
- 셋에는 동일한 값이 저장되지 않습니다. 우리가 배웠던 집합과 같습니다. 
- 셋은 중괄호 { } 로 정의합니다.

In [10]:
my_set = {}

In [11]:
type(my_set)

dict

In [12]:
my_set = set()

In [13]:
type(my_set)

set

In [14]:
my_set = {1, 3, 5, 2, 3, 2, 2, 7, 6, 8, 11, 1, 1, 4}
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 11}

In [ ]:
#set은 중복요소를 제거해서 만들어 준다

In [15]:
my_set.add(6)  #추가하기

In [16]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 11}

In [19]:
my_set.add(1) #add()로 1을 추가해도 이미 1이 있어서 중복이므로 추가가 안됨

In [20]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 11}

In [ ]:
# set의 활용 예

In [21]:
page_view = [1, 3, 5, 2, 3, 2, 2, 7, 6, 8, 11, 1, 1, 4]  #만약 각각의 숫자가 아이피라고 가정하고 
#클릭 했을 때마다 append()로 아이피(숫자로 가정) 리스트에 추가해준다고 하면

In [22]:
len(page_view)  #총 클릭 수를 알 수 있다

14

In [24]:
unique_user = set(page_view) # 중복을 제거하고 반환

In [25]:
len(unique_user)   #중복한 클릭 수를 빼고 구할 수 있음

9

In [ ]:
# set의 활용 예, 이벤트를 한다면  (요소는 참가자 번호)

In [26]:
event_1 = {1, 5, 3, 8, 9, 11}

In [27]:
event_2 = {7, 1, 3, 8, 3, 4}

In [28]:
event_1 | event_2

{1, 3, 4, 5, 7, 8, 9, 11}

In [29]:
event_1 & event_2

{1, 3, 8}

In [30]:
event_1 - event_2

{5, 9, 11}