리눅스 터미널에  
`pip install apyori`
설치

In [5]:
import numpy as np 
import pandas as pd

In [7]:
# csv파일 가져오기
pd.read_csv('Market_Basket_Optimisation.csv')

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 위처럼 컬럼명 처럼보이나 실제로는 유저가 장바구니에 담은 데이터베이스
# 그래서 a priori 알고리즘 적용시키리면 header=None 파라미터를 넘겨야한다
# 컬럼명을 0,1,2, ... 기본으로 맞춰줌

In [10]:
df = pd.read_csv('Market_Basket_Optimisation.csv', header=None)

In [12]:
# NaN데이터를 지우지 않고 문자열 'nan'으로 바꿔준다
df.fillna('nan', inplace=True)

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,chutney,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,turkey,avocado,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,mineral water,milk,energy bar,whole wheat rice,green tea,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

apriori 모듈 불러오기

In [15]:
from apyori import apriori

In [ ]:
# apriori()를 만들 때의 파라미터들
# transactions =df.values ---> data프레임의 numpy array를 넣어줘야함

# min_support는 예를 들어 햄버거와 프렌치 프라이가 같이 있을 경우
# min_support = 0.002 ---> 1000개중에 2개  
# min_lift = 3 ----> 3이상인 것을 찾음 (1 이면 관련이 없는 것)

In [16]:
apriori( transactions=df.values, min_support= 0.002, min_confidence= 0.3, min_lift = 3, min_length= 2, max_lengh= 2)

In [17]:
rules = apriori( transactions=df.values, min_support= 0.002, min_confidence= 0.3, min_lift = 3, min_length= 2, max_lengh= 2)

In [18]:
# 리스트화 해주기
result = list(rules)

In [20]:
# 위의 result변수는 리스트로 되어 있음
# Pandas DataFrame으로 만들기

list

In [22]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))

# 이 함수는 가져다 사용하면 됨

In [ ]:
# 위 함수 호출해서 DataFrame만들기

In [24]:
# 컬러명은 priori에서 정해져 놓은 명칭
df_result = pd.DataFrame(data= inspect(result), columns= ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift' ] )

In [25]:
df_result

           Left Hand Side Right Hand Side   Support  Confidence      Lift
0    mushroom cream sauce        escalope  0.005733    0.300699  3.790833
1                   pasta        escalope  0.005866    0.372881  4.700812
2         gluten free bar        pancakes  0.002133    0.307692  3.237027
3           herb & pepper     ground beef  0.015998    0.323450  3.291994
4            tomato sauce     ground beef  0.005333    0.377358  3.840659
..                    ...             ...       ...         ...       ...
289         mineral water            milk  0.002266    0.435897  3.363855
290         mineral water            milk  0.002666    0.416667  3.215449
291         mineral water       spaghetti  0.002800    0.600000  3.446095
292              tomatoes   mineral water  0.002266    0.314815  5.271040
293              pancakes   mineral water  0.002266    0.333333  5.581101

[294 rows x 5 columns]

In [27]:
df_result.sort_values(by ='Lift', ascending=False)

           Left Hand Side Right Hand Side   Support  Confidence       Lift
39   mushroom cream sauce           pasta  0.002533    0.441860  28.088096
155  mushroom cream sauce             nan  0.002533    0.441860  28.088096
274     frozen vegetables   mineral water  0.003066    0.383333   7.987176
175     frozen vegetables   mineral water  0.003066    0.383333   7.987176
230         mineral water             nan  0.003866    0.402778   6.128268
..                    ...             ...       ...         ...        ...
214                shrimp       spaghetti  0.005999    0.523256   3.005315
278         mineral water       spaghetti  0.003066    0.522727   3.002280
183         mineral water       spaghetti  0.003066    0.522727   3.002280
273         mineral water            milk  0.002800    0.388889   3.001086
174         mineral water            milk  0.002800    0.388889   3.001086

[294 rows x 5 columns]